@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    --font1 : 'Overpass', sans-serif;
    --color1 : #5e9ebc;
    --color2 : #7ed3fc;
    background-color: black;
}