.home-cont{
    height : 100vh;
    width : 100%;
    padding : 7rem;
    display: flex;
    align-items: center;
}

.home-flex h1{
    font-size : 9rem;
    color : white;
    font-family: var(--font1);
}
.home-flex p{
    font-size : 4rem;
    color : white;
    font-family: var(--font1);

}